<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Welcome to Irun!</title>
</head>
<body>
    
    <div class="container" id="app">
        <div class="row">
            <div class="col">
                <h1 id="1st">{{framework}} Demo</h1>
                <h2 id="2nd">I, {{name}} , will make the first step</h2>
            </div>
        </div>
        <div class="row">
            <div class="col" id="alert-col">

                <input type="text" class="form-control" placeholder="Enter your name" v-model="name" />

                <div class="alert alert-primary" role="alert">
                    The first step to becoming a better you is to begin!
                </div>
                <button type="button" class="btn btn-primary" @click="click" >Primary</button>
                <button type="button" class="btn btn-success" id="new" >Success</button>

            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                        <img src="https://cdn1.vectorstock.com/i/1000x1000/25/75/gym-fitness-and-exercise-silhouettes-vector-13662575.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Callorie Total: {{total}} </h5>
                            <p class="card-text" v-for="x in items">
                                    <input style="width: 50%; float: left" v-model="x.name" placeholder="type of food" />
                                    <input style="width: 50%" v-model="x.price" placeholder="calories" />
                            </p>
                            <a href="#" class="btn btn-primary" @click.prevent="addItem" >Add Item</a>
                        </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        $(function(){
            $("#new").on('click', function(){
                
                console.log({
                    theAlert: $(".alert"),
                    theCol: $("#alert-col")
                });
                $(".alert").eq(0)
                .clone().text("Some new text")
                .appendTo("#alert-col");
            })
        })
    </script>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                framework: 'Vue',
                name: null,
                items: []
            },
            methods: {
                click(){
                    this.framework = 'Used to be jQuery, but now it\'s Vue'
                },
                addItem(){
                    this.items.push({ name: '', price: 0.0 });
                }
            },
            computed: {
                total(){
                    return this.items.reduce( (prev, x) => prev + +x.price, 0 );
                }
            }
        })
    </script>
</body>
</html>